pipeline/Trigger Pipeline_China.json
{
	"name": "Trigger Pipeline_China",
	"properties": {
		"activities": [
			{
				"name": "LookupTableList",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_NAME in ('hcp', 'clouduser', 'accountwhitelist', 'organization', 'employee', 'security_user', 'customer', 'journey', 'interaction', 'satisfactioninteraction', 'assignment', 'hearingdeviceselection', 'hearingdevicemodel', 'mobiledevice')"
					},
					"dataset": {
						"referenceName": "Telecare_Internal_China",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "TriggerCopy",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LookupTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy Dashboard Tables_China",
						"type": "PipelineReference"
					},
					"parameters": {
						"tableList": {
							"value": "@activity('LookupTableList').output.value",
							"type": "Expression"
						}
					}
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}